# Generated with gnostic protoc-gen-openapi
openapi: 3.0.3
info:
  title: Schedule Domain
  version: v1
  description: Skoola Learning Goal Service
servers: [{ url: "https://api.stg.skola.com" }]
paths:
  /v1/schedule:
    post:
      tags: [ScheduleSubjectService]
      summary: Insert New Schedule
      description: Insert New Schedule
      operationId: ScheduleSubjectService_CreateScheduleSubjectByDay
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/sharedCreateScheduleSubjectRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicCreateScheduleSubjectResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        "401":
          description: Unauthorized JWT token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
  "/v1/schedule/{day}":
    get:
      tags: [ScheduleSubjectService]
      summary: Get schedules for each day
      description: "Get schedules for each day, e.g /v1/schedule/MONDAY, /v1/schedule/TUESDAY, /v1/schedule/SUNDAY"
      operationId: ScheduleSubjectService_GetScheduleSubjectByDay
      parameters:
        [{ name: day, in: path, required: true, schema: { type: string } }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sharedGetScheduleSubjectResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        "401":
          description: Unauthorized JWT token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
"components":
  "schemas":
    publicCreateScheduleSubjectResponse:
      type: object
      properties:
        message:
          type: string
          description: Message confirming the creation of the new schedule
    sharedCreateScheduleSubjectRequest:
      type: object
      properties:
        day:
          enum: [MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY]
          type: string
          description: "Day e.g. SUNDAY, MONDAY"
          format: enum
        start_time:
          type: string
          description: Start time activity
          format: date-time
        end_time:
          type: string
          description: End time activity
          format: date-time
        activity:
          enum: [LEARNING, OTHERS]
          type: string
          description: Activity
          format: enum
    sharedGetScheduleSubjectResponse:
      type: object
      properties:
        day:
          enum: [MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY]
          type: string
          description: "Day e.g. SUNDAY, MONDAY"
          format: enum
        period:
          type: string
          description: Counter of each schedule
        start_time:
          type: string
          description: Start time activity
          format: date-time
        end_time:
          type: string
          description: End time activity
          format: date-time
        activity:
          enum: [LEARNING, OTHERS]
          type: string
          description: Activity
          format: enum
    "v1ErrorResponse":
      "type": "object"
      "properties":
        "errors":
          "title": "errors"
          "type": "array"
          "items":
            "$ref": "#/components/schemas/v1ErrorInfo"
    "v1ErrorInfo":
      "type": "object"
      "properties":
        "message":
          "title": "message"
          "type": "string"
        "code":
          "title": "code"
          "type": "string"
        "field":
          "title": "field"
          "type": "string"
  responses:
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1ErrorResponse"
    "401":
      description: Unauthorized JWT token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1ErrorResponse"
  securitySchemes:
    OAuth2:
      type: http
      scheme: bearer
      bearerFormat: JWT
security: [{ OAuth2: [TEACHER] }]
