# Generated with gnostic protoc-gen-openapi
{
  openapi: 3.0.3,
  info:
    {
      title: Schedule Domain,
      version: v1,
      description: "Skoola Learning Goal Service, Skoola Learning Goal Service, Skoola Learning Goal Service",
    },
  servers: [{ url: "https://api.stg.skola.com" }],
  paths:
    {
      /v1/schedule/teacher:
        {
          get:
            {
              tags: [ScheduleTeacherService],
              description: "Get schedule for teacher with date range, e.g /v1/schedule/teacher?from=2024-09-01&to=2024-09-30",
              operationId: ScheduleTeacherService_GetScheduleTeacher,
              parameters:
                [
                  { name: from, in: query, schema: { type: string } },
                  { name: to, in: query, schema: { type: string } },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/sharedGetScheduleTeacherResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          post:
            {
              tags: [ScheduleTeacherService],
              description: Insert new schedule for teacher,
              operationId: ScheduleTeacherService_CreateScheduleTeacherByDay,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/sharedCreateScheduleTeacherByDayRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/sharedCreateScheduleTeacherByDayResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/schedule/student/{day}/time/{time_schedule_id}/subject":
        {
          post:
            {
              tags: [SubjectScheduleService],
              summary: Insert new subject schedule,
              description: Insert new schedule,
              operationId: SubjectScheduleService_CreateSubjectSchedule,
              parameters:
                [
                  {
                    name: day,
                    in: path,
                    required: true,
                    schema:
                      {
                        enum:
                          [
                            MONDAY,
                            TUESDAY,
                            WEDNESDAY,
                            THURSDAY,
                            FRIDAY,
                            SATURDAY,
                            SUNDAY,
                          ],
                        type: string,
                        format: enum,
                      },
                  },
                  {
                    name: time_schedule_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/sharedCreateSubjectScheduleRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/sharedCreateSubjectScheduleResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/schedule/student:
        {
          post:
            {
              tags: [ScheduleStudentService],
              description: Insert new schedule for student,
              operationId: ScheduleStudentService_CreateScheduleStudentByDay,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/sharedCreateScheduleStudentByDayRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/sharedCreateScheduleStudentByDayResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/schedule/student/{day}":
        {
          get:
            {
              tags: [ScheduleStudentService],
              description: "Get schedule for student for each day, e.g /v1/schedule/student/MONDAY, /v1/schedule/student/TUESDAY, /v1/schedule/student/SUNDAY",
              operationId: ScheduleStudentService_GetScheduleStudentByDay,
              parameters:
                [
                  {
                    name: day,
                    in: path,
                    required: true,
                    schema:
                      {
                        enum:
                          [
                            MONDAY,
                            TUESDAY,
                            WEDNESDAY,
                            THURSDAY,
                            FRIDAY,
                            SATURDAY,
                            SUNDAY,
                          ],
                        type: string,
                        format: enum,
                      },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/sharedGetScheduleStudentByDayResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
    },
  "components":
    {
      "schemas":
        {
          sharedCreateScheduleTeacherByDayRequest:
            {
              type: object,
              properties:
                {
                  day:
                    {
                      enum:
                        [
                          MONDAY,
                          TUESDAY,
                          WEDNESDAY,
                          THURSDAY,
                          FRIDAY,
                          SATURDAY,
                          SUNDAY,
                        ],
                      type: string,
                      description: "Day e.g. SUNDAY, MONDAY",
                      format: enum,
                    },
                  start_time:
                    { type: string, description: Start time activity },
                  end_time: { type: string, description: End time activity },
                  teacher_name:
                    { type: string, description: Duty teacher name },
                  teacher_id: { type: string, description: Duty teacher id },
                },
            },
          sharedCreateScheduleTeacherByDayResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
                      type: string,
                      description: Message confirming the creation of the new duty teacher schedule,
                    },
                },
            },
          sharedGetScheduleTeacherResponse:
            {
              type: object,
              properties:
                {
                  schedules:
                    {
                      type: array,
                      items:
                        {
                          $ref: "#/components/schemas/sharedScheduleTeacherResponse",
                        },
                      description: list of teacher time schedule,
                    },
                },
            },
          sharedScheduleTeacherResponse:
            {
              type: object,
              properties:
                {
                  title: { type: string, description: title of the schedule },
                  teacher_name: { type: string, description: teacher name },
                  start:
                    {
                      example: "2020-01-01T00:00:00Z",
                      type: string,
                      description: start date for duty teacher schedule,
                      format: date-time,
                    },
                  end:
                    {
                      example: "2020-01-01T00:00:00Z",
                      type: string,
                      description: end date for duty teacher schedule,
                      format: date-time,
                    },
                },
            },
          "v1ErrorResponse":
            {
              "type": "object",
              "properties":
                {
                  "errors":
                    {
                      "title": "errors",
                      "type": "array",
                      "items":
                        { "$ref": "#/components/schemas/v1ErrorInfo" },
                    },
                },
            },
          "v1ErrorInfo":
            {
              "type": "object",
              "properties":
                {
                  "message": { "title": "message", "type": "string" },
                  "code": { "title": "code", "type": "string" },
                  "field": { "title": "field", "type": "string" },
                },
            },
          sharedCreateSubjectScheduleRequest:
            {
              type: object,
              properties:
                {
                  day:
                    {
                      enum:
                        [
                          MONDAY,
                          TUESDAY,
                          WEDNESDAY,
                          THURSDAY,
                          FRIDAY,
                          SATURDAY,
                          SUNDAY,
                        ],
                      type: string,
                      description: "Day e.g. SUNDAY, MONDAY",
                      format: enum,
                    },
                  time_schedule_id:
                    { type: string, description: time schedule ID },
                  subject_schedules:
                    {
                      type: array,
                      items:
                        {
                          $ref: "#/components/schemas/sharedSubjectSchedule",
                        },
                      description: subject schedule object,
                    },
                },
            },
          sharedCreateSubjectScheduleResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
                      type: string,
                      description: Message confirming the creation of the new subject schedule,
                    },
                },
            },
          sharedSubjectSchedule:
            {
              type: object,
              properties:
                {
                  id: { type: string, description: subject schedule id },
                  class_group_id: { type: string, description: class group id },
                  class_group_name:
                    { type: string, description: class group name },
                  class_subject_detail_id:
                    { type: string, description: class subject detail id },
                  class_subject_detail_name:
                    { type: string, description: class subject detail name },
                },
            },
          sharedCreateScheduleStudentByDayRequest:
            {
              type: object,
              properties:
                {
                  day:
                    {
                      enum:
                        [
                          MONDAY,
                          TUESDAY,
                          WEDNESDAY,
                          THURSDAY,
                          FRIDAY,
                          SATURDAY,
                          SUNDAY,
                        ],
                      type: string,
                      description: "Day e.g. SUNDAY, MONDAY",
                      format: enum,
                    },
                  start_time:
                    { type: string, description: Start time activity },
                  end_time: { type: string, description: End time activity },
                  activity:
                    {
                      enum: [LEARNING, OTHERS],
                      type: string,
                      description: Activity,
                      format: enum,
                    },
                },
            },
          sharedCreateScheduleStudentByDayResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
                      type: string,
                      description: Message confirming the creation of the new schedule,
                    },
                },
            },
          sharedGetScheduleStudentByDayResponse:
            {
              type: object,
              properties:
                {
                  day:
                    {
                      enum:
                        [
                          MONDAY,
                          TUESDAY,
                          WEDNESDAY,
                          THURSDAY,
                          FRIDAY,
                          SATURDAY,
                          SUNDAY,
                        ],
                      type: string,
                      description: "Day e.g. SUNDAY, MONDAY",
                      format: enum,
                    },
                  time_schedules:
                    {
                      type: array,
                      items:
                        {
                          $ref: "#/components/schemas/sharedTimeSchedule",
                        },
                      description: List of time schedule,
                    },
                },
            },
          sharedTimeSchedule:
            {
              type: object,
              properties:
                {
                  time_schedule_id:
                    { type: string, description: time schedule ID },
                  schedule_id: { type: string, description: schedule ID },
                  start_time:
                    { type: string, description: time schedule start time },
                  end_time:
                    { type: string, description: time schedule start time },
                  subject_schedule:
                    {
                      type: array,
                      items:
                        {
                          $ref: "#/components/schemas/sharedSubjectSchedule",
                        },
                      description: list subject schedule,
                    },
                  activity:
                    {
                      enum: [LEARNING, OTHERS],
                      type: string,
                      description: time schedule activity,
                      format: enum,
                    },
                  teacher_name:
                    { type: string, description: duty teacher name },
                  teacher_id: { type: string, description: duty teacher id },
                },
            },
        },
      responses:
        {
          "500":
            {
              description: Internal Server Error,
              content:
                {
                  application/json:
                    {
                      schema:
                        {
                          $ref: "#/components/schemas/v1ErrorResponse",
                        },
                    },
                },
            },
          "401":
            {
              description: Unauthorized JWT token.,
              content:
                {
                  application/json:
                    {
                      schema:
                        {
                          $ref: "#/components/schemas/v1ErrorResponse",
                        },
                    },
                },
            },
        },
      securitySchemes:
        { OAuth2: { type: http, scheme: bearer, bearerFormat: JWT } },
    },
  security: [{ OAuth2: [TEACHER] }],
}
