# Generated with gnostic protoc-gen-openapi
{
  openapi: 3.0.3,
  info:
    {
      title: Assessment Domain,
      description: "Skoola Assignment Service, Skoola Rubric Service, Skoola Observation Service, Skola Quiz Service",
      version: v1,
    },
  servers: [{ url: "https://api.stg.skola.com" }],
  paths:
    {
      /v1/assignment:
        {
          get:
            {
              tags: [AssignmentService],
              summary: List assignments,
              description: List assignments,
              operationId: AssignmentService_ListAssignment,
              parameters:
                [
                  {
                    name: start_date_gt,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: start_date_gte,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: start_date_lt,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: start_date_lte,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: due_date_gt,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: due_date_gte,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: due_date_lt,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: due_date_lte,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: until_date_gt,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: until_date_gte,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: until_date_lt,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: until_date_lte,
                    in: query,
                    schema: { type: string, format: date-time },
                  },
                  {
                    name: teaching_module_folder_id,
                    in: query,
                    schema: { type: string },
                  },
                  { name: sort, in: query, schema: { type: string } },
                  {
                    name: limit,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                  {
                    name: offset,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicListAssignmentResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          put:
            {
              tags: [AssignmentService],
              summary: Update an assignment,
              description: Update an assignment,
              operationId: AssignmentService_UpdateAssignment,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicUpdateAssignmentRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicUpdateAssignmentResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          post:
            {
              tags: [AssignmentService],
              summary: Create an assignment,
              description: Create an assignment,
              operationId: AssignmentService_CreateAssignment,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicCreateAssignmentRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicCreateAssignmentResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/assignment/submission:
        {
          get:
            {
              tags: [AssignmentService],
              summary: List assignment submissions,
              description: List assignment submissions,
              operationId: AssignmentService_ListAssignmentSubmission,
              parameters:
                [
                  { name: assignment_id, in: query, schema: { type: string } },
                  { name: student_id, in: query, schema: { type: string } },
                  { name: sort, in: query, schema: { type: string } },
                  {
                    name: limit,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                  {
                    name: offset,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicListAssignmentSubmissionResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          put:
            {
              tags: [AssignmentService],
              summary: Update assignment submission,
              description: Updates a student assignment submission.,
              operationId: AssignmentService_UpdateSubmission,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicUpdateSubmissionRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicUpdateSubmissionResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          post:
            {
              tags: [AssignmentService],
              summary: Create assignment submission,
              description: Creates a student assignment submission.,
              operationId: AssignmentService_CreateSubmission,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicCreateSubmissionRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicCreateSubmissionResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/assignment/submission/assess:
        {
          post:
            {
              tags: [AssignmentService],
              summary: Assess assignment submission,
              description: Assesss a student assignment submission.,
              operationId: AssignmentService_AssessSubmission,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicAssessSubmissionRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicAssessSubmissionResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/assignment/submission/finalize:
        {
          post:
            {
              tags: [AssignmentService],
              summary: Finalize assignment submission,
              description: Finalizes an assignment submission of a student.,
              operationId: AssignmentService_FinalizeSubmission,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicFinalizeSubmissionRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicFinalizeSubmissionResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/assignment/submission/{submission_id}":
        {
          get:
            {
              tags: [AssignmentService],
              summary: Get a submission of assignment assessment,
              description: Get assignment submission by submission id,
              operationId: AssignmentService_GetSubmissionBySubmissionId,
              parameters:
                [
                  {
                    name: submission_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicGetSubmissionBySubmissionIdResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          delete:
            {
              tags: [AssignmentService],
              summary: Delete a submission,
              description: Delete a submission,
              operationId: AssignmentService_DeleteSubmission,
              parameters:
                [
                  {
                    name: submission_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicDeleteSubmissionResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/assignment/{assignment_id}":
        {
          get:
            {
              tags: [AssignmentService],
              summary: Get an assignment,
              description: Get assignment by id,
              operationId: AssignmentService_GetAssignmentById,
              parameters:
                [
                  {
                    name: assignment_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicGetAssignmentByIdResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          delete:
            {
              tags: [AssignmentService],
              summary: Delete an assignment,
              description: Delete an assignment,
              operationId: AssignmentService_DeleteAssignment,
              parameters:
                [
                  {
                    name: assignment_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicDeleteAssignmentResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/rubric:
        {
          get:
            {
              tags: [RubricService],
              summary: List rubrics,
              description: List rubrics,
              operationId: RubricService_ListRubric,
              parameters:
                [
                  { name: sort, in: query, schema: { type: string } },
                  {
                    name: limit,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                  {
                    name: offset,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicListRubricResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          put:
            {
              tags: [RubricService],
              summary: Update an rubric,
              description: Update an rubric,
              operationId: RubricService_UpdateRubric,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicUpdateRubricRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicUpdateRubricResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          post:
            {
              tags: [RubricService],
              summary: Create an rubric,
              description: Create an rubric,
              operationId: RubricService_CreateRubric,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicCreateRubricRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicCreateRubricResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/rubric/{rubric_id}":
        {
          get:
            {
              tags: [RubricService],
              summary: Get an rubric,
              description: Get rubric by id,
              operationId: RubricService_GetRubricById,
              parameters:
                [
                  {
                    name: rubric_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicGetRubricByIdResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          delete:
            {
              tags: [RubricService],
              summary: Delete an rubric,
              description: Delete an rubric,
              operationId: RubricService_DeleteRubric,
              parameters:
                [
                  {
                    name: rubric_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicDeleteRubricResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/observation:
        {
          get:
            {
              tags: [ObservationService],
              summary: List observations,
              description: List observations,
              operationId: ObservationService_ListObservation,
              parameters:
                [
                  {
                    name: teaching_module_folder_id,
                    in: query,
                    schema: { type: string },
                  },
                  { name: sort, in: query, schema: { type: string } },
                  {
                    name: limit,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                  {
                    name: offset,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicListObservationResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          put:
            {
              tags: [ObservationService],
              summary: Update an observation,
              description: Update an observation,
              operationId: ObservationService_UpdateObservation,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicUpdateObservationRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicUpdateObservationResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          post:
            {
              tags: [ObservationService],
              summary: Create an observation,
              description: Create an observation,
              operationId: ObservationService_CreateObservation,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicCreateObservationRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicCreateObservationResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/observation/assess:
        {
          get:
            {
              tags: [ObservationService],
              summary: List observation assessments,
              description: List observation assessments,
              operationId: ObservationService_ListObservationAssessment,
              parameters:
                [
                  { name: observation_id, in: query, schema: { type: string } },
                  { name: student_id, in: query, schema: { type: string } },
                  { name: sort, in: query, schema: { type: string } },
                  {
                    name: limit,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                  {
                    name: offset,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicListObservationAssessmentResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          put:
            {
              tags: [ObservationService],
              summary: Update observation assessment,
              description: Update the submission of an observation assessment.,
              operationId: ObservationService_UpdateObservationAssessment,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicUpdateObservationAssessmentRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicUpdateObservationAssessmentResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          post:
            {
              tags: [ObservationService],
              summary: Assess observation submission,
              description: Assesss a student observation submission.,
              operationId: ObservationService_AssessObservation,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicAssessObservationRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicAssessObservationResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/observation/assess/{observation_submission_id}":
        {
          get:
            {
              tags: [ObservationService],
              summary: Get a submission of observation assessment,
              description: Get observation assessment by observation submission id,
              operationId: ObservationService_GetObservationAssessmentBySubmissionId,
              parameters:
                [
                  {
                    name: observation_submission_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicGetObservationAssessmentBySubmissionIdResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          delete:
            {
              tags: [ObservationService],
              summary: Delete an observation,
              description: Delete an observation,
              operationId: ObservationService_DeleteObservationAssessment,
              parameters:
                [
                  {
                    name: observation_submission_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicDeleteObservationAssessmentResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/observation/{observation_id}":
        {
          get:
            {
              tags: [ObservationService],
              summary: Get an observation,
              description: Get observation by id,
              operationId: ObservationService_GetObservationById,
              parameters:
                [
                  {
                    name: observation_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicGetObservationByIdResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          delete:
            {
              tags: [ObservationService],
              summary: Delete an observation,
              description: Delete an observation,
              operationId: ObservationService_DeleteObservation,
              parameters:
                [
                  {
                    name: observation_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicDeleteObservationResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/quiz:
        {
          post:
            {
              tags: [QuizService],
              summary: Create a new Quiz,
              description: Teacher create a new Quiz,
              operationId: QuizService_CreateQuiz,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicCreateQuizRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicCreateQuizResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/quiz/answer/{quiz_id}/submit":
        {
          post:
            {
              tags: [QuizService],
              summary: Get Quiz Questions,
              description: Will return list of question for student to answer,
              operationId: QuizService_SubmitStudentAnswer,
              parameters:
                [
                  {
                    name: quiz_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicSubmitStudentAnswerRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicSubmitStudentAnswerResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/quiz/list/{instance_id}":
        {
          get:
            {
              tags: [QuizService],
              summary: Get Quiz List,
              description: Get Quiz list will return list of quiz info,
              operationId: QuizService_GetQuizList,
              parameters:
                [
                  {
                    name: instance_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                  { name: title, in: query, schema: { type: string } },
                  {
                    name: learning_goal_id,
                    in: query,
                    schema: { type: string },
                  },
                  {
                    name: learning_goal_title,
                    in: query,
                    schema: { type: string },
                  },
                  {
                    name: class_subject_id,
                    in: query,
                    schema: { type: string },
                  },
                  { name: subject_id, in: query, schema: { type: string } },
                  { name: subject_name, in: query, schema: { type: string } },
                  { name: sort, in: query, schema: { type: string } },
                  {
                    name: limit,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                  {
                    name: offset,
                    in: query,
                    schema: { type: integer, format: uint32 },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicGetQuizListResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/quiz/questions:
        {
          post:
            {
              tags: [QuizService],
              summary: Creating questions,
              description: Teacher create a list of questions,
              operationId: QuizService_CreateQuestions,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicCreateQuestionRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicCreateQuestionResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/quiz/questions/{quiz_id}":
        {
          get:
            {
              tags: [QuizService],
              summary: Get Quiz Questions,
              description: Will return list of question for student to answer,
              operationId: QuizService_GetQuestionList,
              parameters:
                [
                  {
                    name: quiz_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicGetQuestionListResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          patch:
            {
              tags: [QuizService],
              summary: Update Quiz Questions,
              description: Teacher can update question and server will replace every question in db,
              operationId: QuizService_EditQuestions,
              parameters:
                [
                  {
                    name: quiz_id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicEditQuestionsRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicEditQuestionsResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      /v1/quiz/setting:
        {
          post:
            {
              tags: [QuizService],
              summary: Create a new Quiz,
              description: Teacher create a new Quiz,
              operationId: QuizService_CreateQuizSetting,
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicCreateQuizSettingRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicCreateQuizSettingResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/quiz/setting/{id}":
        {
          patch:
            {
              tags: [QuizService],
              summary: Update Quiz Setting,
              description: Update Quiz Setting,
              operationId: QuizService_UpdateQuizSetting,
              parameters:
                [
                  {
                    name: id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicUpdateQuizSettingRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicUpdateQuizSettingResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/v1/quiz/{id}":
        {
          get:
            {
              tags: [QuizService],
              summary: Get Quiz Detail,
              description: Get Quiz Detail will return both quiz information and settings,
              operationId: QuizService_GetQuizDetail,
              parameters:
                [
                  {
                    name: id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicGetQuizDetailResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          patch:
            {
              tags: [QuizService],
              summary: Update Quiz,
              description: Update Quiz Information,
              operationId: QuizService_UpdateQuiz,
              parameters:
                [
                  {
                    name: id,
                    in: path,
                    required: true,
                    schema: { type: string },
                  },
                ],
              requestBody:
                {
                  content:
                    {
                      application/json:
                        {
                          schema:
                            {
                              $ref: "#/components/schemas/publicUpdateQuizRequest",
                            },
                        },
                    },
                  required: true,
                },
              responses:
                {
                  "200":
                    {
                      description: OK,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/publicUpdateQuizResponse",
                                },
                            },
                        },
                    },
                  "500":
                    {
                      description: Internal Server Error,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      description: Unauthorized JWT token.,
                      content:
                        {
                          application/json:
                            {
                              schema:
                                {
                                  $ref: "#/components/schemas/v1ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
    },
  "components":
    {
      "schemas":
        {
          v1AttachmentFile:
            {
              type: object,
              properties:
                {
                  display_name: { type: string },
                  unique_name: { type: string },
                  file_extension: { type: string },
                  file_size: { type: string },
                  link: { type: string },
                },
            },
          publicAssessSubmissionRequest:
            {
              type: object,
              properties:
                {
                  id:
                    {
                      example: 123,
                      type: string,
                      description: Assignment submission ID,
                    },
                  point:
                    {
                      example: 100.0,
                      type: number,
                      description: The points earned by students,
                      format: float,
                    },
                  RubricSubmission:
                    {
                      $ref: "#/components/schemas/sharedRubricSubmission",
                    },
                },
            },
          publicAssessSubmissionResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
                      type: string,
                      description: response message of adding assignment assessment,
                    },
                },
            },
          publicCreateAssignmentRequest:
            {
              type: object,
              properties:
                {
                  title:
                    {
                      example: Tes Baris dan Deret Aritmatika,
                      type: string,
                      description: Assignment title,
                    },
                  description:
                    { type: string, description: Assignment description },
                  start_date:
                    {
                      example: "2020-01-01T00:00:00Z",
                      type: string,
                      description: Start date when the assignment can be done,
                      format: date-time,
                    },
                  due_date:
                    {
                      example: "2020-01-01T00:00:00Z",
                      type: string,
                      description: Assignment deadline,
                      format: date-time,
                    },
                  until_date:
                    {
                      example: "2020-01-01T00:00:00Z",
                      type: string,
                      description: Available until date,
                      format: date-time,
                    },
                  point:
                    {
                      example: 100.0,
                      type: number,
                      description: Assignment point,
                      format: float,
                    },
                  learning_goals:
                    {
                      example: [123, 234, 567],
                      type: array,
                      items: { type: string },
                      description: Learning goal IDs related to assignment,
                    },
                  publish:
                    { type: boolean, description: Assignment publish status },
                  teaching_module_folder_id:
                    {
                      example: 123,
                      type: string,
                      description: Teaching Module Folder ID,
                    },
                },
            },
          publicCreateAssignmentResponse:
            {
              type: object,
              properties:
                {
                  assignment:
                    {
                      $ref: "#/components/schemas/sharedAssignment",
                    },
                  message:
                    {
                      type: string,
                      description: response message of creating assignment,
                    },
                },
            },
          publicCreateSubmissionRequest:
            {
              type: object,
              properties:
                {
                  assignment_id:
                    { example: 123, type: string, description: Assignment ID },
                  student_id:
                    { example: 123, type: string, description: Student ID },
                  answer_text:
                    { example: 123, type: string, description: Student ID },
                  attachment_files:
                    {
                      type: array,
                      items:
                        {
                          $ref: "#/components/schemas/v1AttachmentFile",
                        },
                      description: Attachment files,
                    },
                },
            },
          publicCreateSubmissionResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
                      type: string,
                      description: response message of creating assignment submission,
                    },
                },
            },
          publicDeleteAssignmentResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
                      type: string,
                      description: response message of deleting assignment,
                    },
                },
            },
          publicDeleteSubmissionResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
                      type: string,
                      description: response message of deleting assignment submission,
                    },
                },
            },
          publicFinalizeSubmissionRequest:
            {
              type: object,
              properties:
                {
                  id:
                    {
                      example: 123,
                      type: string,
                      description: Assignment submission ID,
                    },
                },
            },
          publicFinalizeSubmissionResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
                      type: string,
                      description: response message of finalizing assignment submission,
                    },
                },
            },
          publicGetAssignmentByIdResponse:
            {
              type: object,
              properties:
                {
                  assignment:
                    {
                      $ref: "#/components/schemas/sharedAssignment",
                    },
                },
            },
          publicGetSubmissionBySubmissionIdResponse:
            {
              type: object,
              properties:
                {
                  assignment_submission:
                    {
                      $ref: "#/components/schemas/sharedAssignmentSubmission",
                    },
                },
            },
          publicListAssignmentResponse:
            {
              type: object,
              properties:
                {
                  assignments:
                    {
                      type: array,
                      items:
                        {
                          $ref: "#/components/schemas/sharedAssignment",
                        },
                      description: List Assignments,
                    },
                },
            },
          publicListAssignmentSubmissionResponse:
            {
              type: object,
              properties:
                {
                  assignment_submissions:
                    {
                      type: array,
                      items:
                        {
                          $ref: "#/components/schemas/sharedAssignmentSubmission",
                        },
                      description: List assignment submissions,
                    },
                },
            },
          publicUpdateAssignmentRequest:
            {
              type: object,
              properties:
                {
                  id:
                    { example: 123, type: string, description: Assignment ID },
                  title:
                    {
                      example: Tes Baris dan Deret Aritmatika,
                      type: string,
                      description: Assignment title,
                    },
                  description:
                    { type: string, description: Assignment description },
                  start_date:
                    {
                      example: "2020-01-01T00:00:00Z",
                      type: string,
                      description: Start date when the assignment can be done,
                      format: date-time,
                    },
                  due_date:
                    {
                      example: "2020-01-01T00:00:00Z",
                      type: string,
                      description: Assignment deadline,
                      format: date-time,
                    },
                  until_date:
                    {
                      example: "2020-01-01T00:00:00Z",
                      type: string,
                      description: Available until date,
                      format: date-time,
                    },
                  point:
                    {
                      example: 100.0,
                      type: number,
                      description: Assignment point,
                      format: float,
                    },
                  learning_goals:
                    {
                      example: [123, 234, 567, 8910],
                      type: array,
                      items: { type: string },
                      description: Learning goal IDs related to assignment,
                    },
                  publish:
                    { type: boolean, description: Assignment publish status },
                },
            },
          publicUpdateAssignmentResponse:
            {
              type: object,
              properties:
                {
                  assignment:
                    {
                      $ref: "#/components/schemas/sharedAssignment",
                    },
                  message:
                    {
                      type: string,
                      description: response message of updating assignment,
                    },
                },
            },
          publicUpdateSubmissionRequest:
            {
              type: object,
              properties:
                {
                  id:
                    {
                      example: 123,
                      type: string,
                      description: Assignment submission ID,
                    },
                  answer_text:
                    { example: 123, type: string, description: Student ID },
                  attachment_files:
                    {
                      type: array,
                      items:
                        {
                          $ref: "#/components/schemas/v1AttachmentFile",
                        },
                      description: Attachment files,
                    },
                },
            },
          publicUpdateSubmissionResponse:
            {
              type: object,
              properties:
                {
                  message:
                    {
[...]
